@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Ubuntu Mono', monospace;
  background-color: #11201b;
  color: #36a458;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #11201b;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #36a458;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
