input {
  width: 100%;
  border: none;
  background-color: transparent;
  color: #36a458;
}

button {
  padding: 5px;
  border: none;
  color: #36a458;
  background-color: #455b55;
  cursor: pointer;
}

input:focus {
  outline: none;
}

.input-container {
  height: 10vh;
  width: 100%;
  border: 2px solid #1e453e;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
}

.chat-container {
  overflow-y: scroll;
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.web-socket-container {
  height: 100vh;
  width: 100vw;
}
